@charset "UTF-8";
/* Main CSS File */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.heading {
	font-size: 36px;
}
.page {
	background-image: url(sayagata-400px.png);
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-color: #000000;
	border: none;
	text-align: left;
}
.menu {
	font-family: 'Open Sans', sans-serif;
}
ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li.menu {
	float: left;
}
li.menu a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li.menu a:hover {
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
.notActive {
	background-color: #333;
}
a.menu:link {
	font-color: white;
	text-decoration: none;
}
a.menu:visited {
	font-color: white;
	text-decoration: none;
}
a.menu:hover {
	font-color: white;
	text-decoration: none;
}
a.menu:active {
	font-color: white;
	text-decoration: none;
}
